body,html{
	height: 100%;
	background: #ddd;
	padding: 0;
	margin: 0;
}

#contenedor{
	display: table;
	width: 100%;
	height: 100%;
	border: 1px solid #FF00BF;
	/*margin: auto;*/
}

#cell{
	display: table-cell;
	vertical-align: middle;
	border: 1px solid #81DAF5;
	background: #E0F8EC;
}

#contenido{
	height: 200px;
	background: #fff;
	border: 1px solid #D7DF01;
}
